[dosbox]
fastbioslogo     = true
startbanner      = false

# mandatory for DOSBox-X 2026.08.31
# to make relative paths work
working directory option = default
working directory default = .

[cpu]
cputype = 8086
core    = normal
cycles  = fixed 315

[dosbox]
memsize = 0
memsizekb = __MEMKB__

[autoexec]
@ECHO OFF
CLS
SET PATH=%PATH%;C:\TASM\BIN;C:\PKLITE;C:\BIN
MOUNT C: __BUILD_DIR__ >NUL
C:
REM TESTHWL doesn't log itself, therefore forcing it through
REM COMMAND /C invocation so we can capture the LOG from "outside"
COMMAND /C TESTHWL.BAT __MEMKB__ > /ARTIFACT/HWL__MEMKB__.LOG
EXIT
